---
import Layout from "../layouts/Layout.astro";
---

<Layout title="自己紹介" description="管理人の自己紹介ページです！">
  <article class="flex flex-col justify-center text-center">
    <h1 class="text-5xl">自己紹介</h1>
    <div class="flex flex-row">
      <picture>
        <source srcset="/glaceon.avif" type="image/avif" />
        <source srcset="/glaceon.png" type="image/png" />
        <img src="/glaceon.png" alt="ゆっきーのアイコン" width="150px" />
      </picture>
      <div class="flex flex-col text-left my-auto">
        <h3 class="text-4xl">ゆっきー</h3>
      </div>
    </div>
    <div>
      <p>ポケモンと旅行、美味しい料理が好きなエンジニアです。</p>
    </div>
    <div>
      <h2>コンタクト</h2>
      <ul>
        <li>
          <h3>Twitter</h3>
          <a href="https://twitter.com/Yu_yukk_Y"></a>
        </li>
        <li>
          <h3>Github</h3>
          <a href="https://github.com/Yoshino-Yukitaro"></a>
        </li>
        <li>
          <h3>Qiita</h3>
          <a href="https://qiita.com/Yu_yukk_Y"></a>
        </li>
      </ul>
    </div>
  </article>
</Layout>
