---
export interface Props {
  title: string;
  description: string;
  createdAt: string;
  url: string;
}
const { title, description, createdAt, url } = Astro.props;
---

<section class="my-5 py-5 w-full bg-amber-50 shadow-xl px-8">
  <a href={url} class="w-full hover:opacity-50">
    <div class="flex flex-row justify-between py-5">
      <h1 class="text-3xl font-bold">{title}</h1>
      <p class="pb-5">
        {createdAt}
      </p>
    </div>
    <p>{description}</p>
  </a>
</section>
