<span class="relative">
  <script>
    import "../../scripts/menu.js";
  </script>
  <button id="menu" class="md:hidden text-3xl text-yellow-50 px-4">三</button>
  <ul
    id="hidden_menu"
    class="text-lg flex flex-col hidden md:hidden absolute bg-yellow-50 w-24 shadow-md rounded-md right-2 p-2"
  >
    <li class="hover:opacity-50"><a href="/">記事一覧</a></li>
    <li class="hover:opacity-50"><a href="/introduction">自己紹介</a></li>
  </ul>
</span>
