---
import { getPosts } from "../../library/postFetcher";
import PostCard from "../molecules/PostCard.astro";

interface Frontmatter {
  title: string;
  description: string;
  year: number;
  month: number;
  date: number;
}
const posts = await getPosts({
  fields: ["id", "title", "description", "createdAt"],
});
---

<article class="w-full py-5">
  <h1 class="text-center text-4xl font-bold py-5">記事一覧</h1>
  {
    posts.contents.map((post) => (
      <PostCard
        title={post.title}
        description={post.description}
        createdAt={post.createdAt}
        url={`/post/${post.id}`}
      />
    ))
  }
</article>
